--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.1.2+cpu
torchvision==0.16.2+cpu
easyocr
pytesseract
pillow
numpy<2.0.0
opencv-python-headless
pdf2image
streamlit
pandas
pydantic
sqlalchemy
pydantic-settings
python-dotenv
defusedxml
langdetect
psutil
lxml
python-pptx
python-docx
tqdm
